.todo-item-container {
    min-width: 50vw;
    background: #fff;
    border-radius: 8px;
    margin-top: 8px;
    padding: 16px;
    position: relative;
    box-shadow: 0 4px 8px grey;
}

.btn-container {
    position: absolute;
    right: 12px;
    bottom: 12px;
}

button {
    font-size: 16px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}

.btn-completed {
    display: inline-block;
    background-color: #225322;
    color: white;
}

.btn-removed {
    display: inline-block;
    background-color: #d84f00;
    color: white;
    margin-left: 8px;
}